.location-section {
    background-color: #121212;
    padding: 4rem 0;
    border-top: 1px solid #333;
    text-align: center;
}

.map-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 2rem auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #333;
}

.map-container iframe {
    /* Carte en couleur par défaut */
    border: none;
}

.address {
    font-size: 1.2rem;
    color: #ddd;
    margin-top: 1rem;
}